
div {
    box-sizing: border-box;
}

.grid-holder {
    position: relative;
    display: inline-block;
}

.grid {
    width: 3456px;
    height: 350px;
    border: 1px solid slategrey;
    background: url("../images/hour.svg");
}

.radio-show {
    position: absolute;
    width: 144px;
    height: 44px;
    padding: 6px 8px 8px 44px;
    color: slategrey;
    z-index: 500;
    background: whitesmoke url("../images/grip.svg") top left no-repeat;
}

.radio-show p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.staging .radioShow {
    display: inline-block;
}

.front {
    z-index: 1000;
}

.color-one {
    border: 2px solid deeppink;
}