
div {
    box-sizing: border-box;
}

.grid-holder {
    display: inline-block;
    width: 4000px;
}

.grid-anchor {
    position: relative;
    float: left;
}

.grid-times {
    margin-left: 100px;
    height: 24px;
}

.grid-days {
    padding-top: 12px;
    padding-right: 8px;
    width: 100px;
    float: left;
    text-align: right;
}

.grid-days p, .grid-times p {
    margin: 0;
    padding: 0;
}

.grid-time {
    display: inline-block;
}

.grid {
    width: 3456px;
    height: 308px;
    border: 1px solid slategrey;
    background: url("../images/hour.svg");
}

.radio-show {
    position: absolute;
    width: 144px;
    height: 44px;
    padding: 6px 8px 8px 44px;
    color: slategrey;
    z-index: 1;
    background: whitesmoke url("../images/grip.svg") top left no-repeat;
    cursor: pointer;
}

.radio-show p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.radio-show:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    height: 44px;
    width: 10px;
    background: url("../images/arrow.svg") center right no-repeat;
    cursor: col-resize;
    z-index: 4;
}

.staging {
}

.staging .radioShow {
    display: inline-block;
}

.front {
    z-index: 3;
}

.color-one {
    border: 2px solid deeppink;
    border-right-width: 12px;
}